<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="Sale" packages="">
	<Appenders>
    	<Console name="STDIO" target="SYSTEM_OUT">
    		<PatternLayout pattern="%msg - [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} %n"/>
    	</Console>
	</Appenders>
	<Loggers>
	<Root level="all">
      <AppenderRef ref="STDIO"/>
    </Root>
	</Loggers>
</Configuration>
